<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="idResult.css">
</head>
<body>
<div id="header">This ID's owner provided following parameters:</div>

<div th:each="ownerFromtheLoop: ${idThatWasFound}">
    <div class="menu1">
    <div th:text="'Height: ' + ${ownerFromtheLoop.height}"/>
    <div th:text="'Weight: ' + ${ownerFromtheLoop.weight}"/>
    <div th:text="'Sex: ' + ${ownerFromtheLoop.sex}"/>
    </div>

<div class="subheader">The result:</div>
    <div class="menu2">
    <div th:text="'BMI: ' + ${ownerFromtheLoop.bmi}"/>
    </div>
</div>
</body>
</html>